* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Regular;  /* da fixare */
}

body {
    background: #f5f5f5;
    transition: background 0.3s, color 0.3s;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body.dark {
    background: #1a1a1a;
    color: #ddd;
}